*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

header{
    margin: 44px 0 144px 76px;
}

.link-header {

    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.link-header:hover {
    background-color: #665AE1;
    color: #000000;
}

.buttom-header {
    background-color: #665AE1;
    border-radius: 20.5PX;
    width: 130px;
    height: 30px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color:#FFFFFF;
    cursor: pointer;
}

.buttom-header:hover {
    background-color: #ADFF00;
    color: #000000;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    }

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.buttom-main {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;

}

@media (max-width: 800px) {
   
   
body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

.link-header{
display: block;
position: relative;
top: 20px;
right: 50px;
margin-bottom: 10px;


    
}
.buttom-header{
    display: block;
    position: relative;
    top: 10px;
    left: -50px;
    margin-top: 30px;
}

.img-logo {
    width: 300px;
    height: 300px;
    margin-left: 50px;

}
h1 {
    
    font-size: 60px;
    width: 300px;
}

h2 {
    font-size: 41px;
    width: 300px;
}
p {
    width: 300px;
}

.buttom-main {
    margin-bottom: 30px;
}
}